AsteroidManager(
    asteroids: [
        AsteroidResource(
            size: 2,
            sprites: [
                "meteor_detailedLarge",
                "meteor_large",
                "meteor_squareDetailedLarge",
                "meteor_squareLarge",
            ],
        ),
        AsteroidResource (
            size: 1,
            sprites: [
                "meteor_detailedSmall",
                "meteor_small",
                "meteor_squareDetailedSmall",
                "meteor_squareSmall",
            ],
        )
    ]
)